* {
    font-family: "Times New Roman";
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e26dd5;
}

.description {
    font-size: 18px;
    background: #9ae8dc;
    padding: 6%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img {
    width: 50%;
    height: auto;
    object-fit: cover;
    padding: 20px;
    margin-top: 2%;

}

.img2 {
    max-width: 80%;
    height: auto
}

.links {
    background: pink;
    padding: 3%;
    border-radius: 10px;
    width: 50%;
    float: left;
    margin-bottom: 2%;
}

.links > a {
    margin: auto;
}
